@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap');

html, body, st-emotion-cache [class*="css"] {
    font-family: 'Lexend', sans-serif;
    font-size: 18px;
    font-weight: 200;
    color: #091747;
}

.st-emotion-cache-nahz7x {
	font-family: "Lexend", sans-serif;
	font-weight: 300;
}

h1, h2, h3, h4 {
	font-family: "Lexend", sans-serif;
}

[data-testid="stSidebar"] h1,
[data-testid="stSidebar"] h2,
[data-testid="stSidebar"] h3,
[data-testid="stSidebar"] h4,
[data-testid="stSidebar"] a,
[data-testid="stSidebar"] p  {
    color: black
}

[data-testid="stSidebarNavViewButton"]  {
    color: black
}

[data-testid="stSidebarNavLink"] span {
    color: black;
}
